@model IssueTracker.Models.Projects


@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>

                <div class="form-group">
                <label asp-for="ProjectDescription" class="control-label"></label>
                <input asp-for="ProjectDescription" class="form-control" />
                <span asp-validation-for="ProjectDescription" class="text-danger"></span>
            </div>
             <div class="form-group">
                            <label class="control-label">Team Members</label>
                            <select asp-for="TeamMembers" class="form-control" asp-items="new SelectList(ViewBag.teamMembers)"> </select>
                            <span asp-validation-for="TeamMembers" class="text-danger"></span>
                            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
                 <a class="btn btn-secondary btn-sm" asp-action="Index"><i class="bi bi-arrow-return-left"></i> &nbsp;Back to List</a>   
             </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
